font-family: Caveat, cursive;

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-size: 25px;
}


button {
  font-size: 20px;
}
