body {
  background-color: #111;
  color: rgb(193, 194, 197);
  font-family: "Caveat", sans-serif;
  font-size: 1.5rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.logo-container {
  margin-top: 30px;
  margin-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

.logo-h2 {
  font-weight: 200;
  margin-left: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.member-area {
  text-align: right;
  margin-right: 5vw;
}
.member-area a {
  text-decoration: none;
  color: rgb(193, 194, 197);
}

#register-only {
  color: darkorange;
  font-size: 1rem;
}

#main-navigation {
  color: rgb(193, 194, 197);
  text-align: center;
  font-size: 1.7rem;
}
#main-navigation ul {
  list-style: none;
}
#main-navigation ul li {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 26px;
  background-color: #474343;
  background: -webkit-gradient(linear, left bottom, left top, from(#1b1919), to(rgb(52, 53, 54)));
  background: -o-linear-gradient(bottom, #1b1919, rgb(52, 53, 54));
  background: linear-gradient(to top, #1b1919, rgb(52, 53, 54));
}
#main-navigation ul li a {
  color: rgb(193, 194, 197);
  text-decoration: none;
}

.container-form {
  text-align: center;
  font-size: 1.7rem;
  padding: 20px;
  margin-bottom: 20px;
  min-width: 320px;
  background-color: #474343;
  background: -webkit-gradient(linear, left bottom, left top, from(#1b1919), to(rgb(52, 53, 54)));
  background: -o-linear-gradient(bottom, #1b1919, rgb(52, 53, 54));
  background: linear-gradient(to top, #1b1919, rgb(52, 53, 54));
  border: none;
  border-radius: 26px;
}
.container-form button {
  font-size: 1.7rem;
  margin-top: 20px;
  background-color: darkorange;
}
.container-form button a {
  text-decoration: none;
  color: darkorange;
}