/*Page styling*/
body {
  background-color: #111;
  color: rgb(193, 194, 197);
  font-family: "Caveat", sans-serif;
  font-size: 1.5rem;
  min-width: fit-content;
}

.logo-container {
  margin-top: 30px;
  margin-left: 15%;
  display: flex;
  font-size: 2rem;
}

.logo-h2 {
  font-weight: 200;
  width: 50vw;
  margin-left: 20px;
}

.member-area {
  text-align: right;
  margin-right: 5vw;
}
.member-area a {
  text-decoration: none;
  color: rgb(193, 194, 197);
}

#register-only {
  color: darkorange;
  font-size: 1rem;
}

#main-navigation {
  color: rgb(193, 194, 197);
  text-align: center;
  font-size: 1.7rem;
}
#main-navigation ul {
  list-style: none;
}
#main-navigation ul li {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 26px;
  background-color: #474343;
  background: linear-gradient(to top, #1b1919, rgb(52, 53, 54));
}
#main-navigation ul li a {
  color: rgb(193, 194, 197);
  text-decoration: none;
}

.flex-container-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 20%;
  font-size: 1.7rem;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 352px;
  max-width: 725px;
  background-color: #474343;
  background: linear-gradient(to top, #1b1919, rgb(52, 53, 54));
  border: none;
  border-radius: 26px;
}
.flex-container-form button {
  font-size: 1.7rem;
  margin-top: 20px;
}
.flex-container-form button a {
  text-decoration: none;
  color: darkorange;
}