body {
  background-color: #111;
  color: rgb(193, 194, 197);
  font-family: "Caveat", sans-serif;
  font-size: 1.5rem;
}

.logo-container {
  margin-top: 30px;
  margin-left: 15%;
  display: flex;
  font-size: 2rem;
}

.logo-h2 {
  font-weight: 200;
  width: 50vw;
}

.member-area {
  text-align: right;
  margin-right: 10vw;
}
.member-area a {
  text-decoration: none;
  color: rgb(193, 194, 197);
}

#register-only {
  color: darkorange;
  font-size: 1rem;
}

#main-navigation {
  color: rgb(193, 194, 197);
  text-align: center;
  font-size: 1.7rem;
}
#main-navigation ul {
  list-style: none;
}
#main-navigation ul li {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 26px;
  background-color: #474343;
  background: linear-gradient(to top, #1b1919, rgb 52, 53, 54);
}
#main-navigation ul li a {
  color: rgb(193, 194, 197);
  text-decoration: none;
}