body {
  background-color: #111;
  color: rgb(193, 194, 197);
  font-family: "Caveat", sans-serif;
  font-size: 16px;
}

.logo-container {
  text-align: center;
  margin-top: 30px;
}

.logo-h1 {
  text-align: left;
  font-size: 25px;
}

.logo-h2 {
  font-weight: 400;
  font-size: 25px;
}

.top-page-area {
  display: inline-block;
}

#loginButton {
  background-color: transparent;
  color: rgb(193, 194, 197);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.member-area {
  text-align: right;
  margin-right: 850px;
}

#register-only {
  color: darkorange;
  font-size: 16px;
}

#main-navigation {
  color: rgb(193, 194, 197);
  text-align: center;
  font-size: 22px;
}

#main-navigation ul {
  list-style: none;
}

#main-navigation li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 22px;
  margin-right: 5px;
  border-radius: 26px;
  background-color: #474343;
}

#main-navigation a {
  color: rgb(193, 194, 197);
  text-decoration: none;
}

.information-board {
  color: darkorange;
  text-align: left;
  padding-left: 920px;
  margin-top: 60px;
  font-weight: 400;
  font-size: 22px;
}

.dulle-grit-container {
  text-align: right;
  margin-right: 800px;
  transform: translateY(-90px);
}

.dulle-grit-container img {
  height: 350px;
}

#second-image-container {
  display: inline-block;
}

.second-image-container {
  text-align: left;
  padding-left: 1000px;
  transform: translateY(-300px);
}

.second-image-container img {
  height: 400px;
  display: inline-block;
}

.first-course-information {
  color: darkorange;
  font-size: 22px;
}

.course-name {
  color: rgb(184, 62, 25);
  font-size: 30px;
  transform: translateY(-270px);
}

.first-course-p {
  transform: translateY(-260px);
}

.third-image-container img {
  height: 300px;
}

#third-image-container {
  padding-left: 1200px;
  position: absolute;
  transform: translateY(-450px);
}

#second-course {
  padding-left: 1400px;
  transform: translateY(-500px);
}

#third-course {
  padding-left: 1500px;
  transform: translateY(-400px);
}

footer {
  background-color: #1b1919;
  background: linear-gradient(to top, #1b1919, rgb(52, 53, 54));
}

.footer-logo-contact-info {
  display: inline-block;
  transform: translateX(300px);
  font-size: 22px;
}

.footer-logo-contact-info img {
  width: 100px;
  height: 100px;
  padding-right: 15px;
  padding-top: 19px;
}

#social-media-buttons {
  transform: translateX(385px);
}

#social-media-buttons li {
  display: inline-block;
  color: #474343;
  font-size: 30px;
}

#about-me {
  text-align: center;
  transform: translateY(-140px);
  font-size: 25px;
}

#between-about-and-movies {
  transform: translateY(-100px);
  box-shadow: 0 2px 4px rgb(180, 170, 170);
}

#movies {
  text-align: center;
  padding-right: 320px;
  transform: translateY(-40px);
  font-size: 25px;
}

#books-and-albums {
  text-align: right;
  padding-right: 1050px;
  transform: translateY(-85px);
  font-size: 25px;
}

#between-movies-and-terms {
  box-shadow: 0 2px 4px rgb(180, 170, 170);
}

.terms-and-conditions {
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
  font-size: 20px;
}

#subscribe {
  transform: translateX(1630px);
}

.subscribe-form {
  display: inline-block;
  transform: translateX(1500px);
}

.subscribe-form input {
  width: 200px;
  padding: 10px;
  border: 1px solid black;
}

.subscribe-form button {
  padding: 10px;
  background-color: #807c7c;
  border: 1px solid black;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

#all-rights-reserved {
  transform: translateX(-1100px);
  box-shadow: 0 2px 4px rgb(180, 170, 170);
}
