body {
  background-color: #111;
  color: rgb(193, 194, 197);
  font-family: "Caveat", sans-serif;
  font-size: 16px;
}

.logo-container {
  text-align: center;
  margin-top: 30px;
}

.logo-h1 {
  text-align: left;
  font-size: 25px;
}

.logo-h2 {
  font-weight: 400;
  font-size: 25px;
}

.top-page-area {
  display: inline-block;
}

#loginButton {
  background-color: transparent;
  color: rgb(193, 194, 197);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.member-area {
  text-align: right;
  margin-right: 850px;
}

#register-only {
  color: darkorange;
  font-size: 16px;
}

#main-navigation {
  color: rgb(193, 194, 197);
  text-align: center;
  font-size: 22px;
}

#main-navigation ul {
  list-style: none;
}

#main-navigation li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 22px;
  margin-right: 5px;
  border-radius: 26px;
  background-color: #474343;
  background: linear-gradient(to top, #1b1919, rgb(52, 53, 54));
}

#main-navigation a {
  color: rgb(193, 194, 197);
  text-decoration: none;
}

h1,
h2 {
  text-align: center;
  padding-top: 20px;
}

p {
    font-size: 22px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-left: 900px;
}